.navItem {
  margin: 10px 0;
  list-style-type: none;
}

.navItem > * {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

.navItem > *:hover {
  border-bottom: 2px solid black;
  color: #fe8800;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid black;
}
